body {
    background: linear-gradient(135deg, var(--baseBackground),  var(--black));
    text-align: center;
}

.navbar--open {
    overflow: hidden;
}

header, article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: auto;
}

section {
    margin: 1.2em auto;
}


#schedule {
    width: 100%;
    margin: 1.2em 0;
}


h1 {
    line-height: 6em;
    font-size: 3em;
    color: var(--colorTextHighlight);
    text-shadow: black 2px 1px 1px;
}

h2, h3 {
    text-shadow: black 1px 1px 1px;
}

ul {
    text-align: left;
}

.year {
    list-style: upper-roman;
}

.prize {
    list-style-type: "\1F3C6";
    list-style-position: outside;
}

.prize li {
    padding: 0.3em;
}

table {
    margin: 2em auto;
    width: 80%;
    height: 80%;
}

tr {
    line-height: 3.5em;
    text-align: center;
}

td {
    border: 1px solid var(--colorTextMuted);
}

tr:hover {
    background: var(--colorTextHighlight);
    color: var(--baseBackground);
    opacity: 0.8;
}

tr:hover td {
    border: 1px solid var(--baseBackground);
}

th {
    background: var(--colorTextHighlight);
    color: var(--baseBackground);
    border: 1px solid currentColor;
}

th:hover {
    filter: saturate(1.2);
}

tbody {
    font-size: 90%;
}

li ul {
    list-style: disclosure-closed;
}

#link {
    margin: 1em 0 3em 0;
}

section a {
    padding: 1em;
    background: var(--colorTextHighlight);
    color: var(--baseBackground);
    border: 1px solid currentColor;
    border-radius: 3em;
}

section a:hover {
    color: var(--baseBackground);
}

#reg__fee {
    margin-bottom: 2.5em;
}

#other__info {
    margin-top: 2.5em;
}
